<!-- login.component.html -->
<div *ngIf="this.loggedIn">
     Want to logout session?
</div>
<div *ngIf="!this.loggedIn" class="login">
  <div class="login-sub" style="">
    <h3 style=" text-align: center; color: #041562;">Login to Hotel Mart</h3>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <label>
        Email:
        <input formControlName="email" name="email" type="email" required>
      </label>
      <label>
        Password:
        <input formControlName="password" name="password" type="password" required>
      </label>
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
  </div>
  
</div>
