<div class="order-main">
  <div class="order-sub">
    <div class="order-details-container" *ngIf="order">
      <h2>Order Details</h2>
      
      <div class="order-summary">
        <div class="order-info">
          <p><strong>Order ID:</strong> {{ order.customIdentifer }}</p>
          <p><strong>Order Date:</strong> {{ order.date | date:'medium' }}</p>
          <p><strong>Status:</strong> {{ order.status }}</p>
        </div>
    
        <div class="user-info">
          <h3>Buyer Information</h3>
          <p><strong>Name:</strong> {{ order?.user?.name }}</p>
          <p><strong>Email:</strong> {{ order?.user?.email }}</p>
        </div>
      </div>
    
      <div class="shipping-info">
        <h3>Shipping Address</h3>
        <p><strong>Street:</strong> {{ order?.shippingAddress?.street }}</p>
        <p><strong>City:</strong> {{ order?.shippingAddress?.city }}</p>
        <p><strong>Postal Code:</strong> {{ order?.shippingAddress?.postalCode }}</p>
      </div>
       <div style="width: 60%;">
        <h3>Notes</h3>
        <p style="width: 95%;">{{order?.notes}}</p>
       </div>
      <div class="order-items">
        <h3>Order Items</h3>
        <div class="item" *ngFor="let item of order.orderItems">
          <p><strong>Product Name:</strong> {{ item?.product?.prodName }}</p>
          <p><strong>Price:</strong> {{ item?.product?.prodPrice | currency:'INR' }}</p>
          <p><strong>Quantity:</strong> {{ item?.quantity }}</p>
          <p><strong>Size:</strong> {{ item?.prodSize }}</p>
        </div>
      </div>
    
      <div class="total-price">
        <p><strong>Total Price:</strong> {{ order.totalPrice | currency:'INR' }}</p>
      </div>
      <button class="download-pdf-button" (click)="downloadOrderAsPDF()">Download Receipt</button>
    </div>
  </div>
</div>
