<div *ngIf="!orders">
  <p>Approved Orders Appear Here</p>
</div>
<div class="order-container" *ngIf="orders">
    <div *ngFor="let order of orders" class="order-card">
        <div class="order-head" [routerLink]="['/view-order', order.customIdentifer]">      <p>Orderd by <strong>{{order?.user?.name}}</strong></p>
          <p style="margin-bottom: 0.5rem;"> Status:
            <span style="background-color: #ECFFE6; padding: 3px 7px; border-radius: 5px; color: #399918;">{{order.status}} </span> </p>
  </div>
        <div style="position: relative; width: 100%; margin: 0;padding: 0;">
          <p style="position: relative; width:max-content; float: right; margin: 0;padding: 0;">
            {{order?.totalPrice | currency : 'INR'}} for {{order?.orderItems.length}} item
          </p>
        </div>
      <div *ngFor="let or of order.orderItems" class="order-item">
      <div>
        <!-- <div style="position: relative; width: 100%;" >            
            <p  style="position: relative; width:max-content; float: right;">{{order?.totalPrice | currency : 'INR'}} for       
                   {{or?.quantity}} item</p>
         </div> -->
        <div class="item">
            <p class="product-name">Order for: <strong>{{or.product.prodName}}</strong> 
            </p> 
            <p class="order-details product-info product-price">Order Size type: <strong>{{or.prodSize}}</strong></p>
            <p class="order-details product-info product-price">Item quantity : <strong>{{or.quantity}}</strong></p>

        </div>
      </div>
   
      </div>
      <div class="order-status">
        <select [(ngModel)]="newStatus[order._id]" class="status-select form-select">
          <option value="Pending">Pending</option>
          <option value="Approved">Approved</option>
          <option value="Delivered">Delivered</option>
          <option value="Cancelled">Cancelled</option>

        </select>
        <button (click)="updateStatus(order._id, order.user._id)" class="update-button">Update Status</button>
      </div>
    </div>
  </div>
  

 <!-- <div *ngFor="let order of orders">
    <div>
      <h3>Order {{order._id}}</h3>
      <p>Status: {{order.status}}</p>
      <select [(ngModel)]="newStatus[order._id]">
        <option value="Pending">Pending</option>
        <option value="Approved">Approved</option>
        <option value="Delivered">Delivered</option>
      </select>
      <button (click)="updateStatus(order._id)">Update Status</button>
    </div>
  </div> -->