<div class="card-main" style="width: 100%;">
  <div *ngIf="cart.length<1" class="checkout-all" style="">
    <p style="background-color: white; padding: 4px 8px; border: #c8c9d4 1.5px solid; color:#0D1282; width:max-content; border-radius: 9px;">Your Cart is empty</p>
</div>
    <div *ngIf="cart.length>1" class="checkout-all" style="">
      <button style=" display: flex; align-items: center;" (click)="checkoutAllItems()">        <mat-icon>shopping_cart</mat-icon>
        Checkout All items</button>
    </div>
   <div class="cart">
    <div class="cart-item" *ngFor="let citem of cart">

      <div class="c-i-sub" >
      
        <div class="c-i-sub2" >
         
          <div>
            <img src="{{citem.product.images[0]}}" alt="">
          </div>
          <div >
            <h2>{{citem.product.prodName}}</h2>
            <p>Quantity: <span style="color:#0D1282">{{citem.quantity}}</span></p>
            <div style="display: flex; gap:4px">
              <button class="b1" (click)="checkoutSingleItem()" >
                Checkout
              </button>
              
              <button (click)="deleteCart(citem._id, this.token)" style="width: max-content;border: none; text-align: center; background: none; color:#D71313">  
                <mat-icon style="width: max-content; float: right;">delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
      <app-checkout-modal *ngIf="showModal2" [user]="user" (confirmCheckout)="confirmCheckoutSingle(citem.product._id, $event)"></app-checkout-modal>

    </div>

   </div>
  </div>

  <app-checkout-modal *ngIf="showModal" [user]="user" (confirmCheckout)="confirmCheckout($event)"></app-checkout-modal>
