<div style="width: 100%; display: grid; justify-items: center;">
    <p style="color: #071952; width: 90%;">
        Welcome To Hotel Mart, you can Browse Market, Add items to cart you want to buy and Proceed with check out!</p>
</div>
<div class="buyer-data">
    <div class="b-d-i" routerLink="/buyer/marketplace">
        <mat-icon>shopping_cart</mat-icon>
        <span>Market</span>
    </div>
  
    <div class="b-d-i" routerLink="/buyer/purchases">
        <mat-icon style="">receipt_long</mat-icon>
        <span>Orders</span>
    </div>
    <div class="b-d-i" routerLink="/buyer/cart">
        <mat-icon style="">shopping_cart_checkout</mat-icon>
        <span>Cart</span>
    </div>
</div>