.nav-items li{
  display: inline-block;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  width: max-content;
  margin: 0 8px;
}
mat-list-item{
  height: max-content; 
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 0.5rem;
}
mat-list-item details{
  padding: 0.5rem 0;
}
details{
  overflow: hidden;
}
sidenav-container summary{
  width: 100%;
  overflow: hidden;
  height: max-content;
}
mat-toolbar{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #071952;
    color:white;
    font-weight: bold;
}

.sidenav-container {
    height: 100vh;
  }

  mat-sidenav {
    width: 250px;
  }
  
  mat-sidenav-content {
    padding: 20px;
    width: 100%;

  }
  mat-toolbar{
    position:fixed;
    top:0;
    z-index: 2;
}

mat-sidenav-container {
    height:100%;
    width: 100%;
}
.mat-list-item {
    display: flex;
    align-items: center;
  }
  
  .mat-icon {
    margin-right: 16px;
    position: relative;
    top:5px;
  }
//   details p{
//     background-color: #071952;
//     color: white;
//     padding: 8px 5px;
//  }
  .active-link  {
    font-weight: bold;
    color: #FCD59B; /* Change this to your desired active color */
    background-color: #163172;
    border-radius:none;
    // padding: 2px 4px;
  }
  .active-link span{
    color: white; /* Change this to your desired active color */
    padding-bottom: 0.5rem;

  }
  .active-link p{
    background-color: who;
  }
  
  .active-link mat-icon {
    color: white; /* Change this to your desired active color */
  }
  .active-link details{
    // background-color: white;
    color: #071952;
  }
  .active-link .side-sub{
    color: white;

  }
   .active-link summary {
    color: white;
  }
  details{
    display: grid;
    align-content: center;
    vertical-align: middle;
  }
  details p{

    border: #FCD59B 2px solid;
    border-radius: none;
    padding: 0;
    display: grid;
    justify-items: center;
    align-items: center;
    align-content: center;
  }
// Move the content down so that it won't be hidden by the toolbar
mat-sidenav {
    padding-top: 3.5rem;
    @media screen and (min-width: 600px) {
      padding-top: 4rem;
    }

    .entry{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding:0.75rem;
    }
  }

// Move the content down so that it won't be hidden by the toolbar
mat-sidenav-content{
    padding-top: 3.5rem;
    @media screen and (min-width: 600px) {
        padding-top: 4rem;
    }
}
.logo{
  width: 3rem;
  height: 2.7rem;
  border-radius: 4px;
  position: relative;
  top: 0.2rem;
  border: white 2px solid;
}
.side-sub{
   width:100%;
   display:grid;
   justify-items: center;
   margin-bottom: 0.5rem;
}

.side-sub p{
  margin-bottom: 0rem;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  border: #D6E4F0 2px solid;
  border-radius: none;
}
mat-list-item span{
  padding-bottom: 0.5rem;
}