/* Styles for the form */
.form{
    width:100%;
    display: grid;
    justify-items: center;
    margin-left: -8rem;
    margin-top: 1rem;
    height: 100%;
    overflow-x: hidden;
    margin-bottom: 5rem;
}
.user-form {
    // max-width: 600px;
    width: 40%;
    margin: 0 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    height: 100%;
    overflow:hidden ;

  }
  
  .user-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-check-group {
    margin: 20px;
  }
  
  .form-check-group label {
    display: flex;
    font-weight: normal;
    justify-content: space-around;
    width: 50%;
  }
  
  .form-check-group input {
  }
  
  .submit-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #0056b3;
  }
  
  /* Responsive design */
  @media (max-width: 600px) {
 

    .form{
       height: 100%;
        margin-left: 0rem;
        margin-bottom: 10rem;
    }
    .user-form {
      padding: 10px;
      width: 90%;
      height: 100%;
    }
    .submit-btn {
      width: 100%;
      text-align: center;
    }
      
  .form-check-group  {
width: 100%;
  }
  }
  