.user-main{
    width: 100%;
    display: flex;
    justify-content: center;

    margin-left:-12% ;
    overflow: hidden;
    margin-top: 2rem;
}

.user-sub{
    background-color: #EBF4F6;
    padding: 1rem;
    width: 50%;
    border-radius: 18px;

}

@media screen and (orientation:portrait) {
    .user-main{
        width: 100%;
        display: flex;
        justify-content: center;
    
        margin-left:0% ;
        overflow: hidden;
        border-radius: 8px;
    }
    .user-sub{
        background-color: #EBF4F6;
        padding: 1rem;
        width: 100%;
    }
}