<div class="user-main">
<div class="user-sub">
    <div>
        <p><strong>Name: </strong> {{user?.name}}</p>
        <p><strong>Email: </strong> {{user?.email}}</p>
    </div>
    <div>
        <h3>Address</h3>
        <div>
            <p><strong>Street: </strong> {{user?.street}}</p>
            <p><strong>Apartment: </strong> {{user?.apartment}}</p>
            <p><strong>City: </strong> {{user?.city}}</p>
            <p><strong>Zip: </strong> {{user?.zip}}</p>
            <p><strong>Country: </strong> {{user?.country}}</p>

        </div> 
      
    </div>
</div>
</div>

