.button .b2{
    color:white;
    background-color: #163172;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
}
.button .b1{
    color:red;
    background-color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
   
}